nav {
  background-color: #01060eb6;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 1.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.2s;
}

nav a:hover,
nav a.active {
  color: #ffb347; /* Highlight color on hover/active */
  border-bottom: 2px solid #ffb347;
  padding-bottom: 2px;
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}